.app.dark {
  --bg-color: #0b0b52;
  --inverted-bg-color: #d5d5e0;
  --primary-color: #068c80;
  --secondary-color: #7d867e;
  --inverted-primary-color: #068c80;
  --inverted-secondary-color: #7d867e;
}
