.app.light {
  --bg-color: white;
  --inverted-bg-color: #131313;

  --primary-color: #3f49e3;
  --secondary-color: #4c4f4f;

  --inverted-primary-color: #3f49e3;
  --inverted-secondary-color: #4c4f4f;
}